.search-banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.search-banner img {
  width: 268px;
  margin: auto;
  margin-top: 45px;
}

.search-banner form {
  position: relative;
  /* margin-top: 20px; */
  background-color: #e7e7e7;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 70px;
  width: 60%;
  margin: 20px auto;
}

.search-banner input {
  /* width: 95%; */
  width: 90%;
  height: 50px;
  border-radius: 5px;
  /* background-color: #f7f7f7; */
  background-color: #e7e7e7;
  border: none;
  outline: none;
  /* padding-left: 20px; */
  font-size: 25px;
  font-weight: 700;
  color: #8d8686;
}

.search-banner input::placeholder {
  font-size: 18px;
  font-weight: 400;
  padding-left: 15px;
}

.search-banner input:hover {
  background-color: #f7f7f7;
}

.search-banner span {
  position: absolute;
  font-size: 32px;
  right: 20px;
  /* top: 25px; */
  top: 15px;
}
