@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("/css/header.css");
@import url("/css/dropdown-items.css");
@import url("/css/cards-container.css");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 90%;
  max-width: 1240px;
  margin: auto;
}

/****************************/
